<%- include('partials/header'); -%>

<header>
  <div class="portal">
    <img src="/coffee.gif" alt="">
  </div>
  <div class="headings">
    <h2>Caffeine Connect</h2>
    <h3>Community Portal</h3>
    <a href="/smoothies" class="btn">View coffee recipes</a>
  </div>
</header>

<%- include('partials/footer'); -%>