<%- include('partials/header'); -%>

<form>
    <h2>Sign up</h2>
    <label for="name">First Name</label>
    <input type="text" name="First Name" required />
    <label for="name">Last Name</label>
    <input type="text" name="Last Name" required />
    <label for="name">UserName</label>
    <input type="text" name="UserName" required />
    <label for="email">Email</label>
    <input type="text" name="email" required />
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" name="password" required />
    <div class="password error"></div>
    <button>Sign up</button>
    <div class="form-selection">
        <p style="margin-top: 20px; text-align: center;">Already have an ccount? <a href="/login">Log in</a></p>
        <p style="text-align: center;"> Or </p>
        <div class="oath-btn">
            <div class="button" style="margin-top:20px;">
                <div class="card-content">
                    <div class="section" style="text-align: center;">
                        <a href="/auth/google" style="color: rgb(233, 69, 69);" class="btn_google">
                            <img src="/google.png" alt="" width="20" height="20">
                            <i class="fab fa-google left"></i> Log In With Google</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </div>
</form>

<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');
    form.addEventListener('submit', async (e) =>{
        e.preventDefault();

        // reset errors
        emailError.textContent = '';
        passwordError.textContent = '';
 
        //get the value
        const email = form.email.value;
        const password = form.password.value;

        try{
         const res = await fetch('/signup',{
            method: 'POST',
            body: JSON.stringify({email, password}),
            headers: {'Content-Type' : 'application/json'}
         });
        
        const data = await res.json(); 
        console.log(data);
        if(data.errors){
            emailError.textContent = data.errors.email;
            passwordError.textContent = data.errors.password;

        }
        if(data.user){
            location.assign('/');
        }
    }
       catch(err){
        console.log(err);
       }
    });
    
</script>

<%- include('partials/footer'); -%>
